Team_Automates_AI/force-app/main/default/flows/Create_Quote_and_Quote_Lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_LIne_Items</name>
        <label>Add LIne Items</label>
        <locationX>704</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>addQuoteLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_wrapper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_productIds</name>
        <label>add productIds</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>productIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_ProductQuantity.productId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_ProductQuantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>as</name>
        <label>assign</label>
        <locationX>704</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>singleLineItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_QuoteRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_pricebookEntries1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_pricebookEntries1.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_wrapper.quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_LIne_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quote_Created</name>
        <label>Quote Created</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>output</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote Created Successfully</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_input</name>
        <label>Check input</label>
        <locationX>836</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>loop_on_wrapper</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_product_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_wrapper.productId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_on_pricebookEntries1.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>as</targetReference>
            </connector>
            <label>if product found</label>
        </rules>
    </decisions>
    <description>This flow creates a Quote linked to a given Opportunity and adds multiple Quote Line Items based on a list of Products and their Quantities. It first creates the Quote, then loops through the product list to fetch the relevant PricebookEntry for each product, and finally creates Quote Line Items using the matched PricebookEntry and provided Quantity.</description>
    <environments>Default</environments>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>&quot;Quote&quot;&amp;TEXT(TODAY())&amp;&quot;_AI&quot;</expression>
    </formulas>
    <interviewLabel>AI Generated Flow for want to create a flow where i want 2...</interviewLabel>
    <label>Create Quote and Quote Lines</label>
    <loops>
        <name>loop_on_pricebookEntries1</name>
        <label>loop on pricebookEntries</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <collectionReference>Get_PriceBookEntries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loop_on_wrapper</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_on_ProductQuantity</name>
        <label>loop on ProductQuantity</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>ProductQuantityWwapper</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_productIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_PriceBookEntries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_on_wrapper</name>
        <label>loop on wrapper</label>
        <locationX>616</locationX>
        <locationY>758</locationY>
        <collectionReference>ProductQuantityWwapper</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_on_pricebookEntries1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>GptId</name>
        <value>
            <stringValue>15f42a32-3da1-4f5e-9191-9ec24f21cdbe</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>GptLlmIds</name>
        <value>
            <stringValue>[&quot;0d76140c-8795-4930-9abe-d56724a60152&quot;]</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Quote_Line_Items</name>
        <label>Create Quote Line Items</label>
        <locationX>176</locationX>
        <locationY>1442</locationY>
        <connector>
            <targetReference>Quote_Created</targetReference>
        </connector>
        <inputReference>addQuoteLineItems</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create a record of type Quote with opportunity Id</description>
        <name>Create_QuoteRecord</name>
        <label>Create Quote</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>loop_on_ProductQuantity</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01sKY000000QeaDYAS</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_PriceBookEntries</name>
        <label>Get PriceBookEntries</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_on_pricebookEntries1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>In</operator>
            <value>
                <elementReference>productIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_QuoteRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>addQuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <description>The ID of the Opportunity to link the Quote.</description>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Output Message when Quote is created</description>
        <name>output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection of Apex-Defined Wrapper Class) – Each item contains:

ProductId (Text)

Quantity (Number)</description>
        <name>ProductQuantityWwapper</name>
        <apexClass>ProductQuantityWwapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
